# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables & secrets (CRITICAL)
.env
.env.*
creds-compact*
service_account.json
credentials.json
service_account

# WhatsApp / Baileys session files (CRITICAL - DO NOT LEAK)
auth_info_baileys/
auth_whatsapp_web/
creds.json
*.json
*.db
*.sqlite
session/
data/

# Logs
*.log
logs/
*.txt

# Docker related (ignore on GitHub)
Dockerfile
docker-compose.yml
.dockerignore
Procfile

# OS files
.DS_Store
Thumbs.db
